<ion-header>
  <ion-toolbar>
    <ion-title>
     Detalhes
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="{{ usuario.avatar }}" />
    <ion-card-header>
      <ion-card-title>{{ usuario.nome }}</ion-card-title>
      <ion-card-subtitle>Email: {{ usuario.email }}</ion-card-subtitle>
      <ion-card-subtitle>Telefone: {{ usuario.telefone }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>Data de Nascimento: {{ usuario.datanasc }}</ion-card-subtitle>
     <ion-card-subtitle>ID: {{ usuario.id }}</ion-card-subtitle>
    </ion-card-content>


      <div class="ion-text-center">
        <ion-button [routerLink]="['/update-usuario',usuario.id]" color="warning"><ion-icon slot="start" name="create"></ion-icon>Editar</ion-button>
        <ion-button [routerLink]="['/delete-usuario',usuario.id]" color="danger"><ion-icon slot="start" name="trash"></ion-icon>Remover</ion-button>
      </div>


  </ion-card>
</ion-content>
